@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body {
	background-color: #286b5aba;
	padding: 5%;
	text-align: center;
}

div.kartochka {
	width: 442px;
	height: 350px;
    position: relative;
    margin-bottom: 40px;
    box-shadow: -4px 6px 8px 2px #464a4a;
    display: inline-block;
}

a {
	text-decoration: none;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem; 
}

div.margin_right {
	margin-right: 35px;
}

div.linia {
    width: 442px;
	height: 24%;
	background-color: rgba(48, 55, 53, 0.9);
	position: absolute;
	top: 266px;
	text-align: center;
}

h3 {
	margin-top: 5%;
}
