body {
    font-family: 'Roboto Slab', serif;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

hr {
	width: 50px;
	text-align: center;
	background-color: #555555;
}

.blog hr {
	width: 1140px;
	text-align: center;
	background-color: #dddddd;
}

.footer hr {
	width: 50px;
	text-align: center;
	background-color: #fff;
}

/*header*/
.header {
	background: url(images/background.jpg) no-repeat;
    height: 770px;
    background-size: cover;
}

.logo {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	margin-top: 40px;
}

.logo-a, .logo-a:hover {
	text-decoration: none;
}

.menu {
	margin-top: 40px;
    list-style-type: none;
    padding-left: 0;
}

#menu.normal {
    transition: all 2s ease; 
    height: 95px; 
}

#menu.fix {
	 position: fixed;
	 background-color: rgba(0, 0, 0, 0.6);
	 height: 95px;
	 z-index: 10;	
	 transition: all 2s ease;  
}

.menu__item a {
    color: #fff;
    font-size: 15px;
    margin-left: 35px;
    letter-spacing: 2px;
}

.menu__item a:active {
	color: #c1bfbf;
}

.title {
	margin-top: 217px;
	text-align: center;
}

.title__zagolovok {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.title__text {
    font-size: 19px;
    color: #fff;
    margin-bottom: 45px;
}

.title__button, .title__button:hover, 
.title__button:focus {
	border: #fff 2px solid;
	border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: none;
    padding: 15px 30px;
    outline: none;
}

.title__button:active {
	border: #c1bfbf 2px solid;
	color: #c1bfbf;
}

.otstup-menu {
	margin-left: 33%;
}

/*section services*/
.text-services {
	margin-top: 100px;
	margin-bottom: 70px;
}

.text-services__zagolovok {
	font-size: 20px;
	color: #555555;
	text-align: center;
}

.text-services__text {
	font-size: 16px;
	color: #555555;
	text-align: center;
}

.column1__circle {
	width: 86px;
    height: 86px;
    background: #c0301c;
    -moz-border-radius: 43px;
    -webkit-border-radius: 43px;
    border-radius: 43px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.column__zagolovok {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

.column__text {
	font-size: 14px;
	text-align: center;
}

.column2__circle {
	width: 86px;
    height: 86px;
    -moz-border-radius: 43px;
    -webkit-border-radius: 43px;
    border-radius: 43px;
    border: #dddddd 2px solid;
    color: #c0301c;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.fa-life-ring {
	margin-top: 16px;
}

.services .column1, .services .column2 {
	margin-bottom: 100px;
}

/*section about us*/

.about-us {
     background: #f8f8f8;
}

.about-us-text {
	font-size: 14px;
}

.multiple-items {
	margin-bottom: 95px;
	margin-top: 70px;
	width: 1106px;
	margin-right: 1%;
	margin-left: 1%;
}

.slick-prev, .slick-next {
	width: 35px;
	height: 35px;
	background: #8b8b8b;
	color: #dddddd;	
}
 
 .slick-prev, .slick-next {
	width: 35px;
	height: 35px;
	background: #8b8b8b;
	color: #dddddd;	
}

.slick-prev:hover, .slick-next:hover, 
.slick-prev:active, .slick-next:active,
.slick-prev:visited, .slick-next:visited,
.slick-prev:focus, .slick-next:focus {
	background: #c0301c;
}

.slick-next {
	right: 0px;
    top: 39%;
}

.slick-prev {
	left: 0;
	z-index: 8;
	top: 39%;
}

.slick-prev:before {
    content: '\003C';  
    position: absolute;
    top: 17%;
    left: 32%;
}

.slick-next:before {
    content: '\003E';
    position: absolute;
    top: 17%;
    left: 39%;    
}

.multiple-items__slide {
	position: relative;
	outline: none;
	width: 263px;
	margin-right: 18px;
}

.multiple-items__slide .multiple-items__black-fon {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	transition: all 1s;
    width: 263px;
    height: 250px;
	opacity: 0;
	top: 0;
	left: 0;
}

.multiple-items__slide:hover .multiple-items__black-fon {
	opacity: 1;
}

.multiple-items__icon1 {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    top: 75%;
    right: 25%;
    text-align: center;
}

.multiple-items__icon2 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 76%;
    right: 39%;
}

.multiple-items__icon3 {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    top: 75%;
    left: 37%;
    text-align: center;
}

.multiple-items__icon4 {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    top: 75%;
    left: 25%;
    text-align: center;
    padding: auto;
}

.multiple-items__icon1:hover, .multiple-items__icon2:hover,
.multiple-items__icon3:hover, .multiple-items__icon4:hover {
    background: #c0301c;
}

.multiple-items .fa {
    margin-top: 23%;
}

.multiple-items__icon2 img {
     position: absolute;
     top: 14%;
     left: 15%;
}

.multiple-items__text {
	text-align: center;
	width: 263px;
}

.multiple-items__text .size14 {
     font-size: 14px;
     text-transform: uppercase;
     font-weight: bold;
     margin-top: 20px;
     margin-bottom: 10px;
}

.multiple-items__text .size13 {
     font-size: 13px;
}

.multiple-items img {
	max-width: 100%;
	height: auto;
}

/* section LATEST WORKS*/

.text-services__menu {
	font-size: 16px;
	padding: 0 auto;
	list-style-type: none;
}

.text-services__menu {
	text-align: center;
	padding: 0 auto;
}

.static {
    padding-right: 30px;
    text-decoration: none;
    color: #555555;
}

.text-services__menu a:hover {
	color: #c0301c;
}

.active {
	color: #c0301c;
}

.latestworks .level-margin {
	margin-bottom: 30px;
}

.latestworks .container {
	padding: 0;
}

.foto-work {
	position: relative;
}

.foto-work__red-layer {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 320px;
    background-color: rgba(192, 48, 28, 0.7);
    opacity: 0;
    color: #fff;
    text-align: center;
    transition: all 1s;
}

.foto-work:hover .foto-work__red-layer {
	opacity: 1;
}

.foto-work__main-text {
	font-size: 18px; 
	margin-top: 25%;
    margin-bottom: 20px; 
    text-align: center;
}

.foto-work__text {
	font-size: 12px;
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 0.5px;
}

.foto-work__button {
	background-color: #fff;
	color: #c0301c;
	font-size: 14px;
	outline: none;
	width: 100px;
	height: 40px;
	border: none;
}

.foto-work__button:hover {
	outline: none;
	border: #9c9a9a solid 1px;
}

.foto-work__button:active {
	border: #9c9a9a solid 1px;
	outline: none;
}

.foto-work__button:visited, .foto-work__button:focus  {
	outline: none;
}

.otstup100px {
	margin-bottom: 100px;
}

.get-in-touch .container-fluid {
	background: url(images/get-in-touch-background.jpg) no-repeat;
    height: 368px;
    background-size: cover;
}

.get-in-touch__main {
	color: #fff;
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: 50px;
}

.get-in-touch__button {
	font-size: 18px;
	color: #fff;
	width: 175px;
	height: 50px;
	background-color: transparent;
	border: #fff solid 2px;
	border-radius: 3px;
	outline: none;
}

.get-in-touch__button:hover, .get-in-touch__button:active {
	background-color: #fff;
	color: #c0301c;
	outline: none;
}

.get-in-touch__button:visited, .get-in-touch__button:focus {
	outline: none;
}

.get-in-touch__talk {
	text-align: center;
}

.foto-work img {
    max-width: 100%;
}

/*section blog*/

.blog .container {
	padding: 0;
}

.title-blog__data {
	text-align: center;
	font-size: 18px;
	margin-right: 25px;
	border: #000 solid 1px;
	padding: 15px 20px 0px 20px;
	font-weight: bold;
	width: 75px;
	height: 75px;
}

.title-blog__month {
	font-size: 13px;
	margin-bottom: 0;
}

.title-blog__zagol {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
}

.title-blog__author {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 15px;
}

.title-blog__number {
	margin-bottom: 0;
}

.title-blog__name {
	margin-top: 10px;
}

.title-blog {
	margin-bottom: 25px;
	color: #555555;
}

.text-blog {
	font-size: 14px;
	margin-bottom: 35px;
	color: #555555;
	padding-right: 15px;
}

a.ancor-blog {
	color: #777777;
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
}

.nn:hover a.ancor-blog, 
.nn:hover .title-blog__zagol,
.nn:hover span.redcolor {
	color: #c0301c;
}

.blog-left {
	margin-bottom: 75px;
}

.blog img {
	margin-bottom: 38px;
	max-width: 100%;
}

.hrrr {
	margin-top: 38px;
	margin-bottom: 76px;
}


/*section logotypy*/

.logotypy {
	background: #f8f8f8;
	text-align: center;
}

.logotypy img {
	margin-top: 80px;
	margin-bottom: 50px;
    max-width: 100%;
}

.single-item__text {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 40px;
}

.single-item__author {
	font-size: 20px;
	margin-bottom: 40px;
}

.single-item {
	width: 767px;
}

.slick-dotted.slick-slider {
    margin: auto;
}

.slick-dots li button:before {
	font-size: 15px;
    color: #dddddd; 
}

.slick-dots li.slick-active button:before {
	color: #c0301c;
}

.slick-list {
	margin-bottom: 100px;
}

/*section address*/

.address__tittle {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
}

.address__text {
	font-size: 12px;
	margin-left: 25px;
}

.fa-map-marker, .fa-mobile-phone {
	margin-right: 10px;
	font-size: 19px;
}

.fa-envelope-o {
	margin-right: 5px;
    font-size: 16px;
}

.address {
	margin-bottom: 30px;
}

.form-control {
	font-size: 12px;
	border-radius: 0;
	border-color: #000;
	margin-bottom: 20px;
	height: 40px;
}

.form-control:active, .form-control:focus, .form-control:visited {
    border-color: #c0301c;
    outline: none;
    box-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder, 
textarea::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder,
textarea:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
 
.mess {
	height: 100px;
}

.button-send {
    font-size: 12px;
    color: #555555;
    background-color: transparent;
    width: 170px;
    height: 45px;
    border: #000 solid 1px;
}

.button-send:active, .button-send:hover, .button-send:focus {
    color: #fff;
    background-color: #c0301c;
    border: none;
    outline: none;
}

.contact .comment {
    font-size: 12px;
    color: #555555;
    margin-left: 40px;
}

.contact .star {
    color: #c0301c;
}

.contact {
	margin-bottom: 100px;
}

.margin-buttom-null {
	margin-bottom: 0;
}
/*footer*/

.footer {
	background-color: #c0301c;
}

.footer .circle {
    width: 30px;
    height: 30px;  
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: #fff solid 2px;
    margin-top: 100px;
    color: #fff;
    margin-right: 13px;
    text-align: center;
    font-size: 15px;
}

.footer .fa-twitter {
	margin-top: 23%;
}

.footer .circle:hover, .footer .circle:active {
	background-color: #fff;
	color: #c0301c;
}

.footer hr {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 2px;
}

.footer .copyright {
	font-transform: uppercase;
	font-size: 12px;
	color: #fff;
	margin-bottom: 100px;
}